/* Reset de la mise en page par défaut */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow-x: hidden;
}

/* Styles pour la section principale */
main {
    padding-left: 10%;
    padding-right: 10%;
}

/* Styles pour l'en-tête */
header {
    resize: horizontal; /* Cela semble incorrect, cela ne fonctionne pas sur les éléments de div en HTML. Peut-être un typo? */
    font-size: 1.5vw;
    border-bottom: 2px solid #7d41d0; /* Couleur de la ligne de fond */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styles pour les diviseurs */
.divider, .little-divider {
    height: 2px;
    background: #6741d0;
    margin: 0 auto;
}

.divider {
    width: 200px;
}

.little-divider {
    width: 100px;
}

/* Styles pour l'état du serveur */
#status {
    margin: 1em;
    float: right;
    /* Ajout de styles de positionnement pour le conteneur */
    position: relative;
}

#status-indicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
}

/* Styles pour l'état en ligne/offline */
.online {
    background-color: green;
}

.offline {
    background-color: red;
}

/* Styles pour le texte de statut */
#status-text {
    right: 0;
    float: right;
    margin-left: 0.5em;
}

/* Styles pour les liens */
a {
    background: linear-gradient(to bottom, #c850c0, #4158d0);
    -webkit-background-clip: text;
    color: transparent;
    margin: 1em;
    right: 0;
    float: right;
}

/* Styles pour les titres */
h1, h2 {
    background: linear-gradient(to bottom, #c850c0, #4158d0);
    -webkit-background-clip: text;
    color: transparent;
}

/* Styles pour les sous-titres */
h3 {
    background: linear-gradient(to bottom, #6f2c6a, #1e2a64);
    -webkit-background-clip: text;
    color: transparent;
}

/* Styles pour les petits titres */
h4 {
    color: #b7aad5;
    font-size: medium;
}

/* Styles pour le titre principal */
#title {
    margin: 1em;
    width: 50%;
    height: auto;
}

/* Styles pour le conteneur d'en-tête */
#headerBox {
    align-items: center;
}

/* Styles pour tous les boutons */
button {
    margin-top: 2%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: transparent; /* Couleur du texte transparente */
    background: linear-gradient(to bottom, #6f2c6a, #1e2a64); /* Fond avec dégradé */
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom, #6f2c6a, #1e2a64) 1; /* Dégradé pour le liseré */
    -webkit-background-clip: text; /* Pour appliquer le dégradé au texte */
    cursor: pointer;
    transition: all 0.3s;
}

/* Styles pour les boutons au survol */
button:hover {
    border-image: linear-gradient(to bottom, #c850c0, #4158d0) 1; /* Dégradé pour le liseré */
    background: linear-gradient(to bottom, #c850c0, #4158d0); /* Fond avec dégradé */
    -webkit-background-clip: text; /* Pour appliquer le dégradé au texte */
}

/* Styles pour la section de meilleur classement */
.best-rating {
    margin: 3em;
    width: 90%;
    height: 530px;
}

/* Styles pour les images */
img {
    border-radius: 4%; 
}

/* Styles pour l'image du meilleur film */
#bestMovieImage {
    margin-top: 1%;
    float: right;
    height: 93%;
    width: 90%;
    background: #41d073;
    filter: blur(4px);
    object-fit: cover;
    z-index:-1;
    border-radius: 2%;
    box-shadow: 0 0 0 2px black;
}

/* Styles pour la boîte d'information du meilleur film */
#bestMovieBoxInfo {
    margin-right: 3em;
    float: left;
    background: linear-gradient(to right, #000000, #000000e3, #000000b7, #00000073, #00000007);
    padding: 10px;
    width: 800px;
    height: 31em;
    position: absolute;
}

/* Styles pour les sections de films avec le meilleur classement et les catégories */
.best-rating-films,
.category-1, 
.category-2, 
.category-3 {
    margin: 1em;
    padding-left: 2em;
    width: 94%;
    height: clamp(100px, 650px, 800px);
}

/* Styles pour les titres des sections de films */
.best-rating-films h1,
.category-1 h1, 
.category-2 h1, 
.category-3 h1 {
    font-size: 25px;
}

/* Styles pour le conteneur du carrousel de films */
.carousel-movies {
    width: 95%;
    height: 500px;
}

/* Styles pour le carrousel de films */
.carousel {
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    width: 64%;
    height: 480px;
    margin: 0% 2%;
    margin-left: 4.25%;
}

/* Styles pour les boutons de contrôle du carrousel */
.carousel-btn-right {
    left: 82%;
}

.carousel img {
    margin: 0 0.9em;
    display: inline-block;
    width: auto;
    height: 100%;
}

.carousel-btn {
    position: absolute;
    cursor: pointer;
    outline: none;
    align-self: stretch;
    height: 480px;
    margin-top: 0;
}

/* Styles pour la boîte de dialogue modale */
#modal-container {
    display: none;
    z-index: +1;
    background-color: black;
    border-image: linear-gradient(to bottom, #6f2c6a, #1e2a64) 1;
    color: white;
    width: 900px;
    height: auto;
    justify-content: center;
    align-items: center;
}

/* Styles pour le bouton de fermeture de la boîte de dialogue modale */
#modal-closeBtn {
    margin: 1em;
    right: 0;
    float: right;
}
