/* Reset default layout */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow-x: hidden;
}

/* Styles for main section */
main {
    padding-left: 10%;
    padding-right: 10%;
}

/* Styles for header */
header {
    resize: horizontal; /* This seems incorrect, it doesn't work on HTML div elements. Perhaps a typo? */
    font-size: 1.5vw;
    border-bottom: 2px solid #7d41d0; /* Background line color */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styles for dividers */
.divider, .little-divider {
    height: 2px;
    background: #6741d0;
    margin: 0 auto;
}

.divider {
    width: 200px;
}

.little-divider {
    width: 100px;
}

/* Styles for server status */
#status {
    margin: 1em;
    float: right;
    /* Adding positioning styles for container */
    position: relative;
}

#status-indicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
}

/* Styles for online/offline status */
.online {
    background-color: green;
}

.offline {
    background-color: red;
}

/* Styles for status text */
#status-text {
    right: 0;
    float: right;
    margin-left: 0.5em;
}

/* Styles for links */
a {
    background: linear-gradient(to bottom, #c850c0, #4158d0);
    -webkit-background-clip: text;
    color: transparent;
    margin: 1em;
    right: 0;
    float: right;
}

/* Styles for headings */
h1, h2 {
    background: linear-gradient(to bottom, #c850c0, #4158d0);
    -webkit-background-clip: text;
    color: transparent;
}

/* Styles for subheadings */
h3 {
    background: linear-gradient(to bottom, #6f2c6a, #1e2a64);
    -webkit-background-clip: text;
    color: transparent;
}

/* Styles for small headings */
h4 {
    color: #b7aad5;
    font-size: medium;
}

/* Styles for main title */
#title {
    margin: 1em;
    width: 50%;
    height: auto;
}

/* Styles for header container */
#headerBox {
    align-items: center;
}

/* Styles for all buttons */
button {
    margin-top: 2%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: transparent; /* Transparent text color */
    background: linear-gradient(to bottom, #6f2c6a, #1e2a64); /* Gradient background */
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom, #6f2c6a, #1e2a64) 1; /* Gradient border */
    -webkit-background-clip: text; /* To apply gradient to text */
    cursor: pointer;
    transition: all 0.3s;
}

/* Styles for hover buttons */
button:hover {
    border-image: linear-gradient(to bottom, #c850c0, #4158d0) 1; /* Gradient border */
    background: linear-gradient(to bottom, #c850c0, #4158d0); /* Gradient background */
    -webkit-background-clip: text; /* To apply gradient to text */
}

/* Styles for best rating section */
.best-rating {
    margin: 3em;
    width: 90%;
    height: 530px;
}

/* Styles for images */
img {
    border-radius: 4%; 
}

/* Styles for best movie image */
#bestMovieImage {
    margin-top: 1%;
    float: right;
    height: 93%;
    width: 90%;
    background: #41d073;
    filter: blur(4px);
    object-fit: cover;
    z-index:-1;
    border-radius: 2%;
    box-shadow: 0 0 0 2px black;
}

/* Styles for best movie info box */
#bestMovieBoxInfo {
    margin-right: 3em;
    float: left;
    background: linear-gradient(to right, #000000, #000000e3, #000000b7, #00000073, #00000007);
    padding: 10px;
    width: 800px;
    height: 31em;
    position: absolute;
}

/* Styles for best rating and categories film sections */
.best-rating-films,
.category-1, 
.category-2, 
.category-3 {
    margin: 1em;
    padding-left: 2em;
    width: 94%;
    height: clamp(100px, 650px, 800px);
}

/* Styles for film sections titles */
.best-rating-films h1,
.category-1 h1, 
.category-2 h1, 
.category-3 h1 {
    font-size: 25px;
}

/* Styles for movies carousel container */
.carousel-movies {
    width: 95%;
    height: 500px;
}

/* Styles for movies carousel */
.carousel {
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    width: 64%;
    height: 480px;
    margin: 0% 2%;
    margin-left: 4.25%;
}

/* Styles for carousel control buttons */
.carousel-btn-right {
    left: 82%;
}

.carousel img {
    margin: 0 0.9em;
    display: inline-block;
    width: auto;
    height: 100%;
}

.carousel-btn {
    position: absolute;
    cursor: pointer;
    outline: none;
    align-self: stretch;
    height: 480px;
    margin-top: 0;
}

/* Styles for modal dialog box */
#modal-container {
    display: none;
    z-index: +1;
    background-color: black;
    border-image: linear-gradient(to bottom, #6f2c6a, #1e2a64) 1;
    color: white;
    width: 900px;
    height: auto;
    justify-content: center;
    align-items: center;
}

/* Styles for modal dialog box close button */
#modal-closeBtn {
    margin: 1em;
    right: 0;
    float: right;
}
